.wrapper {
	display: grid;
}

.img {
	display: block;
	grid-area: 1/1;
	max-width: 100%;
	opacity: 0;
	transition: .2s;
}

.skeleton {
	grid-area: 1/1;
	height: 100%;
	animation: skeleton 1.5s infinite linear;
	background-size: 200%;
	background-image: linear-gradient(90deg, #eee 0, #fff 50%, #eee 100%);
	background-color: #eee;
}

@keyframes skeleton {
	from {
		background-position: 0;
	}
	to {
		background-position: -200%;
	}
}