.modal {
	display: flex;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .4);
	padding: 2rem calc(4rem + .9375) 2rem 4rem;
}

@media (max-width: 40rem) {
	.modal {
		padding: 2rem calc(2rem + .9375) 2rem 2rem;
	}
}