.nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.nav a, .nav button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .2rem;
	cursor: pointer;
	transition: .1s;
	border: .0625rem solid transparent;
	background: #eee;
}

.nav a:hover, .nav a:focus, .nav button:hover, .nav button:focus {
	outline: none;
	border-color: #333;
	box-shadow: 0 0 0 .1875rem #eee;
	background: #fff;
}

.nav a:global(.active) {
	border-color: #fb1;
	box-shadow: 0 0 0 .1875rem #fea;
	background: #fff;
}

.nav a:global(.active) svg > * {
	fill: #fb1
}

.mobileButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .2rem;
	cursor: pointer;
	transition: .1s;
	border: .0625rem solid transparent;
	background: #eee;
	padding: 0;
}

.mobileButton::after {
	content: '';
	display: block;
	width: 1.2rem;
	height: .125rem;
	border-radius: .125rem;
	transition: .2s;
	box-shadow: 0 .375rem currentColor, 0 -.375rem currentColor;
	background: currentColor;
}

.mobileButton:focus, .mobileButton:hover, .mobileButtonActive {
	outline: none;
	color: #fb1;
	border-color: #fb1;
	box-shadow: 0 0 0 .1875rem #fea;
	background: #fff;
}

.mobileButtonActive::after {
	width: .25rem;
	height: .25rem;
	transform: rotate(90deg);
	box-shadow: 0 .5rem currentColor, 0 -.5rem currentColor;
}

.navMobile {
	display: block;
	position: absolute;
	top: 4.375rem;
	right: 0;
	border-radius: .2rem;
	pointer-events: none;
	transform: translateX(-.625rem);
	opacity: 0;
	box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .2);
	background: #fff;
	padding: 0 1rem;
}

.navMobileActive {
	pointer-events: initial;
	transition: .3s;
	transform: initial;
	opacity: 1;
	z-index: 100;
}

.navMobile a, .navMobile button {
	display: flex;
	align-items: center;
	width: 100%;
	border: none;
	cursor: pointer;
	border-bottom: .0625rem solid #eee;
	background: none;
	padding: .5rem 0;
}

.navMobile a:hover svg > *, .navMobile button:hover svg > * {
	fill: #fb1;
}

.navMobile button {
	border-bottom: none;
}

.navMobile svg {
	margin-right: .5rem;
}