.graph {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-bottom: 2rem;
}

.graphItem {
	display: grid;
	align-items: center;
	border-radius: .2rem;
	box-shadow: 0 .625rem 1.25rem rgba(0, 0, 0, .1);
}

.total {
	grid-column: 1 / 3;
	font-size: 2rem;
	padding: 2rem;
}

@media (max-width: 40rem) {
	.graph {
		grid-template-columns: 1fr;
	}

	.total {
		grid-column: 1;
	}
}