.photo {
	display: grid;
	grid-template-columns: 36rem 20rem;
	grid-template-rows: auto 1fr auto;
	height: 36rem;
	border-radius: .2rem;
	overflow: hidden;
	opacity: 0;
	transform: scale(.8);
	animation: scaleUp .3s forwards;
	background: #fff;
	margin: auto;
}

.single.photo {
	grid-template-columns: 1fr;
	height: auto;
}

@keyframes scaleUp {
	to {
		opacity: initial;
		transform: initial;
	}
}

.details {
	padding: 2rem 2rem 0 2rem;
}

.single .details {
	padding: 1rem 0 0 0;
}

.img {
	grid-row: 1/4;
}

.single .img {
	grid-row: 1;
	border-radius: .4rem;
	overflow: hidden;
}

.author {
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: .5;
	margin-bottom: 1rem;
}

.author a:hover {
	text-decoration: underline;
}

.visualizacoes::before {
	content: '';
	display: inline-block;
	width: 1rem;
	height: .625rem;
	background: url('../../Assets/visualizacao-black.svg');
	margin-right: .5rem;
}

.attributes {
	display: flex;
	font-size: 1.125rem;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.attributes li {
	margin-right: 2rem;
}

.attributes li::before {
	content: '';
	display: inline-block;
	width: .125rem;
	height: 1.25rem;
	position: relative;
	top: .1875rem;
	background: #333;
	margin-top: .3125rem;
	margin-right: .5rem;
}

@media (max-width: 64rem) {
	.photo {
		grid-template-columns: minmax(20rem, 40rem);
		height: auto;
		max-height: calc(100vh - 4rem);
		overflow-y: auto;
	}

	.img {
		grid-row: 1;
	}
}