.form {
	margin-bottom: 2rem;
}

.perdeu {
	display: inline-block;
	line-height: 1;
	color: #666;
	padding: .5rem 0;
}

.perdeu::after {
	content: '';
	display: block;
	width: 100%;
	height: .125rem;
	background: currentColor;
}

.cadastro {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.cadastro p {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.subtitle {
	font-family: var(--type-second);
	font-size: 2rem;
	line-height: 1;
}

.subtitle::after {
	content: '';
	display: block;
	width: 3rem;
	height: .5rem;
	border-radius: .2rem;
	background: #ddd;
}