@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	box-sizing: border-box;
}

body {
	--type-first: Helvetica, Arial, sans-serif;
	--type-second: 'Spectral', Georgia;
	font-family: var(--type-first);
	color: #333;
	padding-top: 4rem;
	margin: 0;
}

h1, h2, h3, h4, p {
	margin: 0;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

button, input {
	display: block;
	font-family: var(--type-first);
	font-size: 1rem;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

.container {
	max-width: 50rem;
	padding: 0 1rem;
	margin: 0 auto;
}

.mainContainer {
	margin-top: 2rem;
}

.title {
	font-size: 3rem;
	font-family: var(--type-second);
	line-height: 1;
	position: relative;
	z-index: 1;
	margin: 1rem 0;
}

.title::after {
	content: '';
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: .2rem;
	position: absolute;
	left: -.3125rem;
	bottom: .3125rem;
	z-index: -1;
	background: #fb1;
}

.animeLeft {
	opacity: 0;
	transform: translateX(-1.25rem);
	animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}

.App {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh + 10rem);
}

.AppBody {
	flex: 1;
}

.VictoryContainer {
	height: initial !important;
}