.button {
	min-width: 8rem;
	font-family: var(--type-first);
	font-size: 1rem;
	border-radius: .4rem;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	transition: .2s;
	color: #764701;
	background: #fb1;
	padding: .8rem 1.2rem;
}

.button:hover, .button:focus {
	outline: none;
	box-shadow: 0 0 0 .1875rem #fea, 0 0 0 .25rem #fb1;
}

.button:disabled {
	opacity: .5;
	cursor: wait;
}