.wrapper {
	margin-bottom: 1rem;
}

.input {
	display: block;
	width: 100%;
	font-size: 1rem;
	border-radius: .4rem;
	transition: .2s;
	background: #eee;
	border: .0625rem solid #eee;
	padding: .8rem;
}

.input:hover, .input:focus {
	outline: none;
	border-color: #fb1;
	box-shadow: 0 0 0 .1875rem #fea;
	background: #fff;
}

.label {
	display: block;
	font-size: 1rem;
	line-height: 1;
	padding-bottom: .5rem;
}

.error {
	font-size: .875rem;
	color: #f31;
	margin-top: .25rem;
}